@charset "utf-8";
#ana {
	height:1024 px;
	width:760px;
	margin:0 auto;
	background-color:#fbd888;
}
#ana logo{
	background-color:#fbd888;
	height:200 px;
	width:768 px;
    margin:0 auto;
}
#menu{
	height: 40px;
	width: 768px;
	margin: 0 auto;
	border-color:#61fffb;
	text-align:center;
    
}
#menu ul li {
	float:left;
	list-style-type:none;
	margin-left: 5px;
	width:140px;
	height:30px;
	text-align: center;
	background-color: #fff;
	
}
#menu ul li a{
	color:#7a714f;
    font:14px Arial;
    text-decoration:none;
	border-width: 2px;
    border-style: solid;
    border-color: #61fffb;
	text-align: center;
	display:block;
	width:136px;
	height:18px;
	padding-bottom:5px;
	padding-top:5px;
	text-transform: uppercase;
}
#menu ul li a:hover{
	color:#61fffb;
	}
#sol {
	width:250px;
	height:400px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:625px;
	top:282px;
	float: left;
}
#ortaust {
	width:250px;
	height:193px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:890px;
	top:282px;
}
#ortaalt{
	width:250px;
	height:193px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:890px;
	top:488px;
}
#sag {
	width:190px;
	height:410px;
	position:absolute;
	left:1155px;
	top:282px;
	float: left;
	background-color:white;
}
h4{text-indent:10px;}
h4{line-height:4px;}
h3{text-indent:10px;}
#footer{
	width:720px;
	height:180px;
	position:absolute;
	left:625px;
	top:708px;
	clear: both;
}
#bos{
	width:720px;
	height:30px;
	position:absolute;
	left:340px;
	top:888px;
	background-color:#fbd888;
}
	







   