@charset "UTF-8";

#logo{
 position:absolute;
	left:35%;
	top:1%;
	transition: all 1s ease-in-out;
    cursor: pointer;
}
 #logo:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
#menu{
	height:60px;
	width:990px;
	border-color:#61fffb;
	text-align:center;
	position:absolute;
	left:25%;
	top:38%;
    
}
#menu ul li {
	float:left;
	list-style-type:none;
	margin-left:5px;
	width:162px;
	height:30px;
	text-align: center;
	background-color: #fff;
	
}
#menu ul li a{
	color:#7a714f;
    font:14px Arial;
    text-decoration:none;
	border-width: 2px;
    border-style: solid;
    border-color: #61fffb;
	text-align: center;
	display:block;
	width:158px;
	height:18px;
	padding-bottom:5px;
	padding-top:5px;
	text-transform: uppercase;

}
#menu ul li a:hover{
	color:#61fffb;
	}
#sol {
	width:260px;
	height:455px;
	position:absolute;
	left:28%;
	top:46%;
	float: left;
}
#solalt {
	width:260px;
	height:390px;
	position:absolute;
	left:28%;
	top:99%;
	
}
#solalt2 {
	width:260px;
	height:295px;
	position:absolute;
	left:28%;
	top:144%;
}
#solalt2:hover{
	 opacity: 0.5;
  filter: alpha(opacity=100);
}
#ortaust {
	width:260px;
	height:300px;
	position:absolute;
	left:43%;
	top:46%;
}
#ortaalt{
	width:260px;
	height:370px;
	position:absolute;
	left:43%;
	top:81%;
}
#ortaalt2 {
	width:260px;
	height:470px;
	position:absolute;
	left:43%;
	top:124%;
}
#sag {
	width:260px;
	height:410px;
	position:absolute;
	left:58%;
	top:46%;
	float: left;
}
#sagalt {
	width:260px;
	height:370px;
	position:absolute;
	left:58%;
	top:93%;
}
#sagalt2 {
	width:260px;
	height:365px;
	position:absolute;
	left:58%;
	top:136%;
}

#icerik { 
    width:810px;
	height:416px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:28%;
	top:46%;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}

#icerik hakresim {

	display: block;
	border-width:4px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:180px;
	top:420px;
}

#icerik hakresim2 {

	display: block;
	width:300px;
	height:410px;
	border-width:4px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:310px;
	top:420px;
}
#menum {
	width:810px;
	height:1770px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:28%;
	top:46%;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}



#resimler{
	width:810px;
	height:650px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:28%;
	top:46%;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}
h4{
	position:absolute;
	left:170px;
}
#slide{
	width:600px;
	height:389px;
}
#iletisim{
	width:810px;
	height:785px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:28%;
	top:46%;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}










   