@charset "U-8";

#logo{
 position:absolute;
	left:410px;
	top:5px;
}
#menu{
	height: 60px;
	width:958px;
	border-color:#61fffb;
	text-align:center;
	position:absolute;
	left:247px;
	top:335px;
    
}
#menu ul li {
	float:left;
	list-style-type:none;
	margin-left:5px;
	width:159px;
	height:30px;
	text-align: center;
	background-color: #fff;
	
}
#menu ul li a{
	color:#7a714f;
    font:14px Arial;
    text-decoration:none;
	border-width: 2px;
    border-style: solid;
    border-color: #61fffb;
	text-align: center;
	display:block;
	width:155px;
	height:18px;
	padding-bottom:5px;
	padding-top:5px;
	text-transform: uppercase;

}
#menu ul li a:hover{
	color:#61fffb;
	}
#sol {
	width:260px;
	height:431px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:290px;
	top:420px;
	float: left;
}
#ortaust {
	width:260px;
	height:206px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:565px;
	top:420px;
}
#ortaalt{
	width:260px;
	height:212px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:565px;
	top:639px;
}
#sag {
	width:260px;
	height:431px;
	border-width:5px;
	border-style:solid;
	border-color:white;
	position:absolute;
	left:840px;
	top:420px;
	float: left;
}
#icerik { 
    width:810px;
	height:416px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:290px;
	top:420px;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}

#icerik hakresim {

	display: block;
	border-width:4px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:180px;
	top:420px;
}

#icerik hakresim2 {

	display: block;
	width:300px;
	height:410px;
	border-width:4px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:310px;
	top:420px;
}
#menum {
	width:810px;
	height:1690px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:290px;
	top:420px;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}
h5{
	position:absolute;
	left:45px;
	
}
h1{
	position:absolute;
	left:10px;
}
h4{
	position:absolute;
	left:170px;
}
h6{
	position:absolute;
	left:406px;
}
p{
	position:absolute;
	left:568px;
}
h3{text-indent:10px;
position:absolute;
	left:555px;
	top:115px;}
h2{text-indent:10px;
position:absolute;
	left:545px;
	top:325px;}
b{position:absolute;
	left:565px;
	top:50px;
	}
#resimler{
	width:810px;
	height:416px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:290px;
	top:420px;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}
#iletisim{
	width:810px;
	height:610px;
	border-width:3px;
	border-style:solid;
	border-color:#61fffb;
	position:absolute;
	left:290px;
	top:420px;
	float: left;
	background-color:white;
	padding-left:0px;
	padding-top:0px;
}
#iletisim strong {
	position:absolute;
	left:470px;
	top:20px;
	
}
#footer{
	width:860px;
	height:620px;
	position:absolute;
	left:270px;
	top:438px;
	clear: both;
}
#footermenu{
	width:860px;
	height:620px;
	position:absolute;
	left:270px;
	top:1695px;
	clear: both;
}
#footeril{
	width:860px;
	height:620px;
	position:absolute;
	left:270px;
	top:580px;
	clear: both;
}
#body{
cursor: url (C:\Users\Araf\Desktop/imlec.png),auto;
}
 







   